<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
<div class="login-form">
    <h1>Synchronizer Token Pattern Demo</h1>

    <form action="/messsage" method="post">
        <div class="form-group ">
            <input type="text" class="form-control" name="message" placeholder="message"
                   required="required">
            <i class="fa fa-envelope"></i>
        </div>
        <button type="submit" class="log-btn">Submit</button>
    </form>
</div>
</body>
</html>
