<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="styles/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
</head>
<body>
<div class="login-form">
    <h1>Synchronizer Token Pattern Demo</h1>

    <form action="/message" method="post">
        <div class="form-group ">
            <input type="text" class="form-control" name="message" placeholder="message"
                   required="required">
            <i class="fa fa-envelope"></i>
        </div>
        <button type="submit" class="submit-btn" id="submit-btn">Submit</button>
    </form>
</div>

<script type="text/javascript">

    getToken()

    function getToken() {
        $.ajax({
            type: "GET",
            url: "http://localhost:3000/token",
            contentType: "text/json",
            cache: false,
            success: function(token) {
                $("#submit-btn").before('<input type="hidden" name="csrf" value="'+token+'">');
            },
            error: function () {
            }
        });
    }
</script>

</body>
</html>
